{{ define "main" }}
{{ $pager := (where .Site.Pages "Type" "blog") }}
{{ $paginator := .Paginate ($pager.GroupByDate "2006") (.Site.Params.archivePaginate)  }}
<div class="container mt-6">
    <div class="content">
        <h1 class="title">Archive</h1>
        {{ range ($paginator).PageGroups }}
        <section class="section">
            <h2 class="title">Year {{ .Key }}</h2>
            {{ range .GroupByDate "January" }}
            <section class="section">
                <h3 class="title">{{ .Key }}</h3>
                <ul>
                {{ range .Pages }}
                    <li class="is-medium">
                        <span class=""><time datetime="{{ .Date.Format "2006-01-02T15:04:05"}}">{{ .Date.Format "02" }}</time>
                        <a href="{{ .Permalink }}">{{ .Title }}</a></span>
                    </li>
                {{ end }}
                </ul>
            </section>
            {{ end }}
            
           
        </section>
        {{ end }}
    </div>

</div>
{{ partial "pagination.html" . }}
{{ end }}